body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    margin: 20px 0 0 0;
}

header, section {
    margin: 0 0 20px 0;
    display: block;
}

.flexible-container {
    min-width: 1000px;
}