.clients {
    margin-bottom: 70px;
    margin-top: 70px;
}

.clients__title {
    margin-bottom: 40px;
}

.clients__content__list {
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
}

.clients__content__list:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.clients__content__list__item {
    display: inline-block;
    vertical-align: middle;
    /*height: 50px;*/
    padding: 0 20px;
    max-width: 33.33%;
    box-sizing: border-box;

}

.clients__content__list__item.small .clients__content__list__item__img {
    max-height: 90px;
}

.clients__content__list__item__img {
    height: auto;
    max-height: 140px;
    max-width: 100%;
    display: inline-block;

    vertical-align: middle;
}

.client__img__wrapper {
    height: 140px;
    white-space: nowrap;
    vertical-align: middle;
}

.client__img__wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
