.header {
    margin-bottom: 30px;
}
.header__logo {
    /*width: 100px;*/
    height: 140px;
    float: left;
    padding: 0 80px 0 0;
}

.header__logo__link__img {
    height: 100%;
}

.header__phone {
    float: right;
    padding: 0 0 0 80px;
    /*width: 200px;*/
}

.header__phone__entry {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    font-weight: bold;
}

.header__phone__welcome {
    margin: 0 0 10px 0;
}

.header__title {
    font-size: 1.75rem;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header__title__text {
    font-size: inherit;
    
    height: 120px;
    vertical-align: middle;
    display: table-cell;
    text-transform: uppercase;
}

.header__phone__numbers {
    margin: 0 0 10px 0;
}