.reviews__title {
    margin-bottom: 40px;
}

.reviews__review {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
}

.reviews__review--wrapper {
    padding: 20px;
    border: solid 2px #e8d100;
    position: relative;
}

.reviews__review--wrapper::before {
    content: "\201C\201D";
    font-size: 60px;
    position: absolute;
    /*top: -0.5em;*/
    left: 20px;
    padding: 0 10px;
    color: #e8d100;
    /* line-height: 0; */
    background: white;
    display: block;
    /*width: 20px;*/
    top: -25px;
    height: 30px;
    height: 30px;
}

.reviews__review__image {
    float: left;
    width: 120px;
    border-radius: 50%;
}


.reviews__review__text,
.reviews__review__title,
.review__text__more {
    margin-left: 150px;
}

.reviews__review__title {
    margin: 0 0 20px 150px;
}

.reviews__review__text {
    text-align: justify;
    text-indent: 1.25em;
    margin: 10px 0 0 150px;
}

.review__text__more {
    color: #e8d100;
}

.review__text__more ~.reviews__review__text {
    display: none;
}