.reviews {
    margin-top: 100px;
}

.reviews__title {
    margin-bottom: 40px;
}

.reviews__review {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
}

.reviews__review--wrapper {
    padding: 20px;
    border: solid 2px #e8d100;
    position: relative;
}

.reviews__review--wrapper::before {
    content: "\201C\201D";
    font-size: 60px;
    position: absolute;
    /*top: -0.5em;*/
    left: 20px;
    padding: 0 10px;
    color: #e8d100;
    /* line-height: 0; */
    background: white;
    display: block;
    /*width: 20px;*/
    top: -25px;
    height: 30px;
    height: 30px;
}

.reviews__review__image__wrapper {
    width: 120px;
    height: 120px;
    float: left;
    border-radius: 50%;
    /*margin: 0 20px 13px 0;*/
    overflow: hidden;
}

.reviews__review__image {
    min-width: 120px;
    min-height: 120px;
    max-width: 140px;
    max-height: 140px;
}

.reviews__review__text, .reviews__review__title, .review__text__more {
    margin-left: 150px;
}

.reviews__review__title {
    margin: 0 0 20px 150px;
}

.reviews__review__text {
    text-align: justify;
    text-indent: 1.25em;
    margin: 10px 0 0 150px;
}

.review__text__more {
    color: #999;
    display: block;
}

.review__text__more~.reviews__review__text {
    display: none;
}


/**/

.carousel .reviews__arrow {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.carousel .reviews__arrow_left {
    left: 20px;
    border-top: 5px solid #bbb;
    border-left: 5px solid #bbb;
}

.carousel  .carousel__left-button.disabled,
.carousel  .carousel__right-button.disabled,
.carousel  .carousel__left-button.disabled:hover,
.carousel  .carousel__right-button.disabled:hover{
  border-color: #e3e3e3;
}

.carousel .reviews__arrow_right {
    right: 20px;
    border-bottom: 5px solid #bbb;
    border-right: 5px solid #bbb;
}

.carousel .reviews__arrow_left:hover, .carousel .reviews__arrow_right:hover {
    border-color: #666;
}
