.subheader {
    background: url('../images/background.jpg');
    background-size: cover;
    position: relative;
    background-position: bottom left;
    margin-bottom: 0;
    overflow: visible;
}

.subheader-wrapper {
    background: url('../images/girl.png') no-repeat;
    background-position: bottom right;
    position: absolute;
    left: 0;
    top: 0;
    right: -230px;
    bottom: 0;
}
.subheader-wrapper2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.subheader .cloudy {
    display: block;
    position: absolute;
    right: 300px;
    /*bottom: 420px;*/
    top: 0;
    width: 130px;
    padding: 20px 70px 20px 30px;
    background: url('../images/cloud.png');
    background-size: 100% 100%;
    font-size: 16px;
    text-align: center;
    /*font-weight: bold;*/
}

.subheader .cloudy__sub {
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
    /*text-align: right;*/
    margin: 5px 0;
}

.subheader .flexible-container {
    min-height: 580px;
    padding-bottom: 150px;
    padding-top: 90px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.subheader-outer-wrapper {
    position: relative;

    overflow-x: hidden;
    top: -40px;
}

.subheader__title {
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    margin-right: 400px;
    display: inline-block;
    /*max-width: 50%;*/
    background: none;
}

.subheader__title__text > span {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 30px 20px;
    display: inline-block;
}

.subheader__title__text > span:first-child {
    vertical-align: top;
    line-height: 1em;
    position: relative;
    bottom: -16px;
    padding-top: 20px;
    padding-bottom: 0;
    background: none;
    /*z-index: 10;*/
}

.subheader__title__text > span:first-child::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 16px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);

}

.subheader__title__text > span > span {
    position: relative;
    z-index: 10;
}

.subheader__features {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    bottom: 40px;
    /* flexible-container padding */
    left: 50px;
    right: 450px;
}

.subheader__feature {
    display: inline-block;
    text-transform: uppercase;
    width: 33.33%;
    margin: 0;
    padding: 30px 30px 20px 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;

    background: url('../images/check.png') no-repeat left center;
    background-size: auto 40%;

    text-shadow: 1px 1px 1px grey;
}
