.withus {
    margin-top: 70px;
    
}

.withus__list--wrapper {
    background: #FFF6A8;
    padding: 10px;
    border-radius: 5px;
    max-width: 900px;
    margin: 40px auto;
    position: relative;
}

.withus__list--wrapper::before {
    position: absolute;
    content: "";
    display: block;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 300px;
    
    background-image: url('/images/withus-bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 115%;
    
    /*z-index: -1;*/
}
.withus__list {
    border-radius: 5px;
    max-width: 900px;
    border: dashed 3px black;
    padding: 20px 20px 20px 40px;
    margin: 0 auto;
    font-size: 1.25rem;
    position: relative;
    z-index: 2;
}

.withus__list__item:first-child{
    margin-top: 0;
}

.withus__list__item {
    margin: 20px 0 0 0;
}