<section class="about clearfix">
    <div class="flexible-container">
        <div class="about--wrapper" >
            <h2 class="about__title section__title">
                О компании
            </h2>
            <p class="about__text">
                Индивидуальный предприниматель Сальников Дмитрий Васильевич занимается перезарядкой, переосвидетельствованием,
                испытанием и ремонтом огнетушителей всех видов и модификаций.
            </p>
            <p class="about__text">
                В компании работают только квалифицированные специалисты и только на сертифицированном оборудовании.
            </p>
        </div>
    </div>
</section>