<section class="clients clearfix">
    <div class="flexible-container">
        <h2 class="clients__title section__title">
            Наши клиенты
        </h2>
        <div class="clients__content">
            <ul class="clients__content__list"><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/gp.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ku.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ri.png"  class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
          %></ul>
            <ul class="clients__content__list"><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ev.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ak.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ho.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li>
            </ul>
            <ul class="clients__content__list"><%#
                %><li class="clients__content__list__item small">
                    <div class="client__img__wrapper">
                        <img src="images/clients/cc.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/fe.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/lu.png" class="clients__content__list__item__img" />
                    </div>
                    <p>Первое предложение лорем ипсум. Второе предложение 100500 огнетушителей</p>
                </li>
            </ul>
            
        </div>
    </div>
</section>
