<section class="clients clearfix">
    <div class="flexible-container">
        <h2 class="clients__title section__title">
            Наши клиенты
        </h2>
        <div class="clients__content">
            <ul class="clients__content__list"><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/gp.png" class="clients__content__list__item__img" />
                        <img src="images/clients/gp_bw.png" class="clients__content__list__item__img bw" />
                    </div>
                    <p>Сбор огнетушителей по АЗС, полное техническое обслуживание и доставка огнетушителей по своим местам</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ku.png" class="clients__content__list__item__img" />
                        <img src="images/clients/ku_bw.png" class="clients__content__list__item__img bw" />
                    </div>
                    <p>Зарядка и гидроиспытания огнетушителей с разрезов области</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ri.png"  class="clients__content__list__item__img" />
                        <img src="images/clients/ri_bw.png"  class="clients__content__list__item__img bw" />
                    </div>
                    <p>Сбор огнетушителей по заводу, испытания и перезарядка огнетушителей, доставка по цехам завода</p>
                </li><%#
          %></ul>
            <ul class="clients__content__list"><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ev.png" class="clients__content__list__item__img" />
                        <img src="images/clients/ev_bw.png" class="clients__content__list__item__img bw" />
                    
                    </div>
                    <p>Техническое обслуживание и проведение испытаний огнетушителей</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ae.png" class="clients__content__list__item__img" />
                        <img src="images/clients/ae_bw.png" class="clients__content__list__item__img bw" />
                    </div>
                    <p>Испытания, проверка, ремонт и зарядка первичных средств пожаротушения</p>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/ho.jpg" class="clients__content__list__item__img" />
                        <img src="images/clients/ho_bw.jpg" class="clients__content__list__item__img bw" />
                    </div>
                    <p>Сбор огнетушителей по магазинам, полное обслуживание огнетушителей и доставка</p>
                </li>
            </ul>
            <ul class="clients__content__list"><%#
                %><li class="clients__content__list__item small">
                    <div class="client__img__wrapper">
                        <img src="images/clients/cc.png" class="clients__content__list__item__img" />
                        <img src="images/clients/cc_bw.png" class="clients__content__list__item__img bw" />
                    </div>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/fe.png" class="clients__content__list__item__img" />
                        <img src="images/clients/fe_bw.png" class="clients__content__list__item__img bw" />
                    </div>
                </li><%#
                %><li class="clients__content__list__item">
                    <div class="client__img__wrapper">
                        <img src="images/clients/lu.png" class="clients__content__list__item__img" />
                        <img src="images/clients/lu_bw.png" class="clients__content__list__item__img bw" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
