<%# feedback forms %>
<div class="r5m-dimmer">
  <div class="r5m-dimmer__container">

    <%# Thanks form %>
    <div class="r5m-dimmer-wrapper r5m-dimmer-thanks hidden">
      <form onsubmit="return false;">
        <h2>
          Спасибо!
        </h2>
        <p>
          Мы свяжемся с Вами по указанному
          <br/>Email-адресу или телефону
          <br/>в ближайшее время.
        </p>
        <button class="r5m-action r5m-dimmer-thanks__button" data-action="r5mDimmer-close" type="submit">
          Ок
        </button>
      </form>
    </div>

    <%# Oops form %>
    <div class="r5m-dimmer-wrapper r5m-dimmer-oops hidden">
      <form onsubmit="return false;">
        <h2>
          Ой :-(
        </h2>
        <p>
          К сожалению, Ваше сообщение не было отправлено из-за ошибки.
          <br/>Приносим извинения за доставленные неудобства.
          <br/>Пожалуйста, свяжитесь с нами любым другим способом:
        </p>
        <p class="footer__phone__numbers">
          <% locals.info.phones.forEach(function(phone) { %>
            <a class="footer__phone__entry" href="tel:<%= phone.number %>">
              <%- phone.text %>
            </a><br/>
           <% }) %>
        </p>
        <p class="copyright__contact">
          <a href="mailto:<%= info.email %>"><%= info.email %></a>
        </p>
        <p>Мы с радостью ответим на все Ваши вопросы.</p>
        <button class="r5m-action r5m-dimmer-thanks__button" data-action="r5mDimmer-close" type="submit">
          Ок
        </button>
      </form>
    </div>

    <%# Call form %>
    <div class="r5m-dimmer-wrapper r5m-dimmer-call hidden">
      <div class="r5mFeedback">
        <form action="/feedback" class="r5mFeedback__form" data-metrika-goal="r5m-call">
          <button class="r5mFeedback__close-button r5m-action" data-action="r5mDimmer-close" type="button">
            <i class="fa fa-times"></i>
          </button>
          <h2 class="r5mFeedback__form__header">Заказать обратный звонок</h2>
          <p class="r5mFeedback__form__descr">Наш менеджер свяжется с Вами<br class="nomobile-only"/>по указанному номеру телефона</p>
          <label class="r5mFeedback__label">
            <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
            <input class="r5mFeedback__input" name="name" required type="text"/>
          </label>
          <label class="r5mFeedback__label">
            <span class="r5mFeedback__placeholder">Телефон для связи*</span>
            <input class="r5mFeedback__input" name="phone" required type="text"/>
          </label>
          <p style="color: #666; text-align: left; font-size: 0.8em; margin: 10px 0 5px; ">Я согласен на обработку персональных данных, принимаю условия <a style="color: inherit" target="_blank" href="/images/eua.pdf">пользовательского соглашения</a></p>          
          <button class="r5mFeedback__submit-button submit-button" type="submit">
            Заказать звонок
          </button>
          <input type="hidden" name="page" value="Заказ звонка"/>
        </form>
      </div>
    </div>    
  </div>
</div>
