<section class="subheader">
    <div class="subheader-outer-wrapper">
        <div class="flexible-container">
            <div class="subheader-wrapper"></div>
            <div class="subheader-wrapper2s"></div>
            <h2 class="subheader__title">
                <span class="subheader__title__text">
                    <%- locals.tagline %>
                </span>
            </h2>
            <div class="cloudy">
                Перезарядили больше 15270 огнетушителей в 2016г.
                <br/>
                <p class="cloudy__sub">
                    Ксения, специалист по работе с клиентами
                </p>
            </div>

            <ul class="subheader__features"><%#
             -%><li class="subheader__feature">
                    Соблюдение<br/>сроков
                </li><%#
             -%><li class="subheader__feature">
                    Гарантия<br/>качества
                </li><%#
             -%><li class="subheader__feature">
                    Забор<br/>и&nbsp;доставка
                </li><%#
         -%></ul>
        </div>
    </div>
</section>
