<section class="subheader">
        <div class="flexible-container">
            <div class="subheader-wrapper"></div>
            <h2 class="subheader__title">
                <span class="subheader__title__text">
                    <%- locals.tagline %>
                </span>
            </h2>
            <div class="cloudy">
                Перезарядили больше 15000 огнетушителей в 2016г.
                <br/>
                <p class="cloudy__sub">
                    Ксения, специалист по работе с клиентами
                </p>
            </div>
            
            <ul class="subheader__features"><%# 
             -%><li class="subheader__feature">
                    Соблюдение сроков
                </li><%# 
             -%><li class="subheader__feature">
                    Гарантия качества
                </li><%# 
             -%><li class="subheader__feature">
                    Экспедирование/доставка
                </li><%# 
         -%></ul>
        </div>
</section>