<section class="license clearfix">
    <div class="flexible-container">
        <h2 class="license__title section__title">
            Лицензии и сертификаты
        </h2>
        <div class="about__license-wrapper clearfix gallery-container">
            <div class="about__license-container r5m-gallery-link">
              <div class="about__license__shadow r5m-gallery-img" data-href="/images/lic-1.jpg" data-alt="Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения ПБ">
                <div class="about__license__loupe"></div>
                <a href="#">
                  <img alt="Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения ПБ" class="about__license" src="images/lic-1.jpg">
                </a>
              </div>
            </div>
            <div class="about__license-container r5m-gallery-link" rel="gr-lic">
              <div class="about__license__shadow r5m-gallery-img" data-href="/images/lic-2.jpg" data-alt="Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения ПБ">
                <div class="about__license__loupe"></div>
                <a href="#">
                  <img alt="Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения ПБ" class="about__license" src="images/lic-2.jpg">
                </a>
              </div>
            </div>
        </div>
    </div>
</section>