<section class="offer clearfix" <% if(locals.id) { %> id="<%= locals.id %>"<% } %>>
  <div class="flexible-container">
    <div class="offer__feedback-wrapper clearfix">
      <div class="offer__feedback">
        <h2 class="offer__title">
            <% if(locals.type == 'OFFER_PRICE') { %>
                Заполните заявку сейчас
                и <b>получите прайс-лист</b> на свой E-mail
            <% } else if(locals.type == 'OFFER_ASK') { %>
                <b style="font-size: 1.3em">Остались вопросы?</b>
                <span style="font-size: 0.7em; margin-top: 10px; line-height: 1.25em; display: block">Оставьте заявку и наш менеджер свяжется с вами для бесплатной консультации!</span>
            <% } else { %>
                Заполните заявку сейчас
                и <b>получите бесплатную консультацию</b> специалиста
            <% } %>
        </h2>
        <!--<h3 class="offer__subtitle">-->

        <!--</h3>-->
        <div class="r5mFeedback offer__feedback__form">
          <form action="/feedback" class="r5mFeedback__form"
                <% if(locals.type == 'OFFER_PRICE') { %>
          			data-metrika-goal="r5m-price"
          		<% } else if(locals.type == 'OFFER_ASK') { %>
                  data-metrika-goal="r5m-ask"
                <% } else { %>
                  data-metrika-goal="r5m-call"
                <% } %>>
            <input type="hidden" name="page"
            	<% if(locals.type == 'OFFER_PRICE') { %>
          			value="Заказ прайс-листа"
          		<% } else if(locals.type == 'OFFER_ASK') { %>
                    value="Хочу задать вопрос"
                <% } else { %>
                    value="Заказ бесплатной консультации"
                <% } %>
            />
            <label class="r5mFeedback__label">
              <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
              <input class="r5mFeedback__input" name="name" required type="text" />
            </label>
            <%# <label class="r5mFeedback__label">
              <span class="r5mFeedback__placeholder">Телефон*</span>
              <input class="r5mFeedback__input" name="phone" required type="text" />
            </label>%>
            <label class="r5mFeedback__label last">
              <% if(locals.type == 'OFFER_PRICE') { %>
                <span class="r5mFeedback__placeholder">E-mail для получения прайс-листа*</span>
              <% } else { %>
                <span class="r5mFeedback__placeholder">E-mail или телефон для связи*</span>
              <% } %>
              <input class="r5mFeedback__input" name="email" type="text" required />
            </label>
            <p style="color: #666; text-align: left; font-size: 0.8em; margin: 10px 0 10px; ">
            	<input type="checkbox" checked onchange="this.closest('form').querySelector('.r5mFeedback__submit-button').disabled=!this.checked"/> Я согласен на обработку персональных данных, принимаю условия <a style="color: inherit" target="_blank" href="/images/eua.pdf">пользовательского соглашения</a>
            </p>
            <button class="r5mFeedback__submit-button submit-button r5m-action order-button" type="submit">
                <% if(locals.type == 'OFFER_PRICE') { %>
                    Получить прайс-лист
                <% } else { %>
                    Получить консультацию
                <% } %>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
