<section class="reviews clearfix">
    <div class="flexible-container">
        <h2 class="reviews__title section__title">
            Отзывы наших клиентов
        </h2>
        <div class="carousel reviews-wrapper gallery-container">
            <ul class="carousel-content clearfix">
                <li class="carousel__item">
                    <div class="reviews__review">
                       <div class="reviews__review--wrapper">
                            <img src="/images/review-1.jpg" class="reviews__review__image"/>
                            <h3 class="reviews__review__title">
                                Вячеслав, 29 лет
                            </h3>
                            <p class="reviews__review__text">
                                Перед дальней поездкой на автомобиле решил проверить свой огнетушитель. 
                                Заехал в цех по перезарядке огнетушителей на пл.Побед, 2 – его порекомендовал мой товарищ. 
                                Там меня встретили внимательные менеджеры, все доступно и вежливо объяснили.
                            </p>    
                            <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                            <p class="reviews__review__text">
                                Как оказалось – беспокоился я не зря – мой огнетушитель уже давно нужно было перезарядить.
                                Цены в компании тоже пришлись по вкусу – очень даже демократично. 
                                Специалисты работают быстро. Так что благодаря вашей компании я мог ехать со спокойной душой. 
                            </p>
                        </div>    
                    </div><%#
                    
                  %><div class="reviews__review">
                      <div class="reviews__review--wrapper">
                        <img src="/images/review-1.jpg" class="reviews__review__image"/>
                        <h3 class="reviews__review__title">
                            Вячеслав, 29 лет
                        </h3>
                        <p class="reviews__review__text">
                            Перед дальней поездкой на автомобиле решил проверить свой огнетушитель. 
                            Заехал в цех по перезарядке огнетушителей на пл.Побед, 2 – его порекомендовал мой товарищ. 
                            Там меня встретили внимательные менеджеры, все доступно и вежливо объяснили. 
                            Как оказалось – беспокоился я не зря – мой огнетушитель уже давно нужно было перезарядить.
                        </p>    
                        <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                        <p class="reviews__review__text">
                            Цены в компании тоже пришлись по вкусу – очень даже демократично. 
                            Специалисты работают быстро. Так что благодаря вашей компании я мог ехать со спокойной душой. 
                        </p>
                      </div>
                    </div>
                </li>
            </ul>
        
            <div class="reviews__arrow reviews__arrow_left carousel__left-button"></div>
            <div class="reviews__arrow reviews__arrow_right carousel__right-button"></div>
        </div>
    </div>
</section>