<section class="reviews clearfix">
    <div class="flexible-container">
        <h2 class="reviews__title section__title">
            Отзывы наших клиентов
        </h2>

        <%# MOBILE %>
        <ul class="mobile-only mobile-reviews clearfix">
            <li class="">
                <div class="reviews__review">
                   <div class="reviews__review--wrapper">
                     <div class="reviews__review__image__wrapper">
                        <img src="images/review-1.jpg" class="reviews__review__image"/>
                      </div>
                        <h3 class="reviews__review__title">
                            Вячеслав, 29 лет
                        </h3>
                        <p class="reviews__review__text">
                            Перед дальней поездкой на автомобиле решил проверить свой огнетушитель.
                            Заехал в цех по перезарядке огнетушителей на пл. Побед, 2 – его порекомендовал мой товарищ.
                        </p>
                        <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                        <p class="reviews__review__text">
                            Там меня встретили внимательные менеджеры, все доступно и вежливо объяснили.
                            Как оказалось – беспокоился я не зря – мой огнетушитель уже давно нужно было перезарядить.
                        </p>
                        <p class="reviews__review__text">
                            Цены в компании тоже пришлись по вкусу – очень даже демократично.
                            Специалисты работают быстро. Так что благодаря вашей компании я мог ехать со спокойной душой.
                        </p>
                    </div>
                </div>
              </li>
              <li><div class="reviews__review">
                  <div class="reviews__review--wrapper">
                    <div class="reviews__review__image__wrapper" style="border-radius: 0">
                      <img src="images/clients/ak-r.png" class="reviews__review__image" style="border-radius: 0"/>
                    </div>
                    <h3 class="reviews__review__title">
                        ООО Аэрокузбасс
                    </h3>
                    <p class="reviews__review__text">
                        За период сотрудничества наших компаний вы зарекомендовали себя
                        как надежный профессиональный и ответственный партнер, добросовестно выполняющий свои обязательства.
                    </p>
                    <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                    <p class="reviews__review__text">
                        Мы благодарны вам за соблюдение сроков, а также ответственный подход к исполнению работ по договору.
                        Мы готовы и в дальнейшем пользоваться услугами этого поставщика.
                    </p>

                    <p class="reviews__review__text">
                        Желаем дальнейшего процветания вашему бизнесу.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="reviews__review">
                  <div class="reviews__review--wrapper">

                    <div class="reviews__review__image__wrapper">
                      <img src="images/clients/nk.png" class="reviews__review__image"/>
                    </div>
                    <h3 class="reviews__review__title">
                        Новокузнецкий колледж искусств
                    </h3>
                    <p class="reviews__review__text">
                        Сотрудничаем с ИП Сальников Н.И. более 10 лет.
                    </p>
                    <p class="reviews__review__text">
                        Все работы выполняются в соответствии с действующими нормативами и правилами, с надлежащим качеством и в установленный сроки.
                    </p>
                    <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>

                    <p class="reviews__review__text">
                        В ходе работ учитывают пожелания заказчика.
                        Рекомендуем компанию ИП Сальников как надежного партнера и надеемся на дальнейшеее сотрудничество.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="reviews__review">
                    <div class="reviews__review--wrapper">
                      <div class="reviews__review__image__wrapper">
                        <img src="images/clients/sc.png" class="reviews__review__image"/>
                      </div>
                      <h3 class="reviews__review__title">
                          Вечерняя общеобразова<wbr/>тельная школа&nbsp;№1
                      </h3>
                      <p class="reviews__review__text">
                          Благодарим ИП Сальников Н.И. за своевременное и качественное проведение работ по переосвидетельствованию и зарядке огнетушителей.
                      </p>
                      <p class="reviews__review__text">
                          Работы были выполнены качественно, без замечаний и претензий, с учетом соответствующих НПБ, ГОСТов.
                      </p>
                      <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                      <p class="reviews__review__text">
                          В кратчайшие сроки была оформлена вся необходимая документация.
                      </p>
                      <p class="reviews__review__text">
                          Надеемся на дальнейшее сотрудничество.
                      </p>
                    </div>
                  </div>
            </li>
            <li class="">
              <div class="reviews__review">
                  <div class="reviews__review--wrapper">
                    <div class="reviews__review__image__wrapper" style="border-radius: 0">
                      <img src="images/reviews/kds.png" class="reviews__review__image"/>
                    </div>
                    <h3 class="reviews__review__title">
                      ООО Кузбасский деловой союз
                    </h3>
                    <p class="reviews__review__text">
                      Выражаем Вам нашу искреннюю благодарность и глубокую признательность за плодотворное сотрудничество.
                    </p>

                    <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                    <p class="reviews__review__text">
                      Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество.
                    </p>
                    <p class="reviews__review__text">
                      Желаем успешного развития и достижения новых вершин в бизнесе.
                    </p>
                  </div>
                </div>
            </li>
        </ul>

        <%# DESKTOP %>
        <div class="carousel reviews-wrapper nomobile-only gallery-container" data-manual="true">
            <ul class="carousel-content clearfix">
                <li class="carousel__item">
                    <div class="reviews__review">
                       <div class="reviews__review--wrapper">
                         <div class="reviews__review__image__wrapper">
                            <img src="images/review-1.jpg" class="reviews__review__image"/>
                          </div>
                            <h3 class="reviews__review__title">
                                Вячеслав, 29 лет
                            </h3>
                            <p class="reviews__review__text">
                                Перед дальней поездкой на автомобиле решил проверить свой огнетушитель.
                                Заехал в цех по перезарядке огнетушителей на пл. Побед, 2 – его порекомендовал мой товарищ.
                            </p>
                            <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                            <p class="reviews__review__text">
                                Там меня встретили внимательные менеджеры, все доступно и вежливо объяснили.
                                Как оказалось – беспокоился я не зря – мой огнетушитель уже давно нужно было перезарядить.
                            </p>
                            <p class="reviews__review__text">
                                Цены в компании тоже пришлись по вкусу – очень даже демократично.
                                Специалисты работают быстро. Так что благодаря вашей компании я мог ехать со спокойной душой.
                            </p>
                        </div>
                    </div><%#

                  %><div class="reviews__review">
                      <div class="reviews__review--wrapper">
                        <div class="reviews__review__image__wrapper" style="border-radius: 0">
                          <img src="images/clients/ak-r.png" class="reviews__review__image" style="border-radius: 0"/>
                        </div>
                        <h3 class="reviews__review__title">
                            ООО Аэрокузбасс
                        </h3>
                        <p class="reviews__review__text">
                            За период сотрудничества наших компаний вы зарекомендовали себя
                            как надежный профессиональный и ответственный партнер, добросовестно выполняющий свои обязательства.
                        </p>
                        <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                        <p class="reviews__review__text">
                            Мы благодарны вам за соблюдение сроков, а также ответственный подход к исполнению работ по договору.
                            Мы готовы и в дальнейшем пользоваться услугами этого поставщика.
                        </p>

                        <p class="reviews__review__text">
                            Желаем дальнейшего процветания вашему бизнесу.
                        </p>
                      </div>
                    </div></li><li class="carousel__item"><div class="reviews__review">
                      <div class="reviews__review--wrapper">

                        <div class="reviews__review__image__wrapper">
                          <img src="images/clients/nk.png" class="reviews__review__image"/>
                        </div>
                        <h3 class="reviews__review__title">
                            Новокузнецкий колледж искусств
                        </h3>
                        <p class="reviews__review__text">
                            Сотрудничаем с ИП Сальников Н.И. более 10 лет.
                        </p>
                        <p class="reviews__review__text">
                            Все работы выполняются в соответствии с действующими нормативами и правилами, с надлежащим качеством и в установленный сроки.
                        </p>
                        <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>

                        <p class="reviews__review__text">
                            В ходе работ учитывают пожелания заказчика.
                            Рекомендуем компанию ИП Сальников как надежного партнера и надеемся на дальнейшеее сотрудничество.
                        </p>
                      </div>
                    </div><%#

                    %><div class="reviews__review">
                        <div class="reviews__review--wrapper">
                          <div class="reviews__review__image__wrapper">
                            <img src="images/clients/sc.png" class="reviews__review__image"/>
                          </div>
                          <h3 class="reviews__review__title">
                              Вечерняя общеобразовательная школа №1
                          </h3>
                          <p class="reviews__review__text">
                              Благодарим ИП Сальников Н.И. за своевременное и качественное проведение работ по переосвидетельствованию и зарядке огнетушителей.
                          </p>
                          <p class="reviews__review__text">
                              Работы были выполнены качественно, без замечаний и претензий, с учетом соответствующих НПБ, ГОСТов.
                          </p>
                          <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                          <p class="reviews__review__text">
                              В кратчайшие сроки была оформлена вся необходимая документация.
                          </p>
                          <p class="reviews__review__text">
                              Надеемся на дальнейшее сотрудничество.
                          </p>
                        </div>
                      </div>

                </li>
                <li class="carousel__item">
                  <div class="reviews__review">
                      <div class="reviews__review--wrapper">
                        <div class="reviews__review__image__wrapper" style="border-radius: 0">
                          <img src="images/reviews/kds.png"  class="reviews__review__image" style="max-width: 120px"/>
                        </div>
                        <h3 class="reviews__review__title">
                          ООО Кузбасский деловой союз
                        </h3>
                        <p class="reviews__review__text">
                          Выражаем Вам нашу искреннюю благодарность и глубокую признательность за плодотворное сотрудничество.
                        </p>

                        <a class="review__text__more r5m-action" data-action="page-removeDOM" href="#more">Читать весь отзыв...</a>
                        <p class="reviews__review__text">
                          Мы верим в сохранение сложившихся деловых и дружеских отношений, надеемся на дальнейшее взаимовыгодное сотрудничество.
                        </p>
                        <p class="reviews__review__text">
                          Желаем успешного развития и достижения новых вершин в бизнесе.
                        </p>
                      </div>
                    </div>
                </li>
            </ul>

            <div class="reviews__arrow reviews__arrow_left carousel__left-button"></div>
            <div class="reviews__arrow reviews__arrow_right carousel__right-button"></div>
        </div>
    </div>
</section>
