<section class="services clearfix">
    <div class="flexible-container">
        <h2 class="services__title">
            Наши услуги
        </h2>
        <ul class="services__list"><%#
            
          %><li class="services__list__item service-reload">
                <h3 class="services__list__item__title">
                    Перезарядка
                </h3>
                <p class="services__list__item__text">
                    Производим замену огнетушащего вещества
                </p>
            </li><%#
            
          %><li class="services__list__item service-renew">
                <h3 class="services__list__item__title">
                    Переосвидетельствование
                </h3>
                <p class="services__list__item__text">
                    При ежегодном осмотре проверяем основные эксплуатационные параметры 
                </p>
            </li><%#
            
          %><li class="services__list__item service-hydro">
                <h3 class="services__list__item__title">
                    Гидроиспытания
                </h3>
                <p class="services__list__item__text">
                    При перезарядке проводим гидравлическое испытание корпуса огнетушителя на прочность в соответствии с требованиями ГОСТ&nbsp;Р&nbsp;51017 и ГОСТ&nbsp;Р&nbsp;51057
                </p>
            </li><%#
            
          %><li class="services__list__item service-paint">
                <h3 class="services__list__item__title">
                    Покраска
                </h3>
                <p class="services__list__item__text">
            В зависимости от типа и условий эксплуатации должна проводиться раз в год или раз в пять лет
                </p>
            </li><%#
            
          %><li class="services__list__item service-repair">
                <h3 class="services__list__item__title">
                    Ремонт
                </h3>
                <p class="services__list__item__text">
                    Замена неисправный частей огнетушителя
                </p>
            </li>
        </ul>
    </div>
</section>