<section class="whywe clearfix">
    <div class="flexible-container">
        <h2 class="whywe__title section__title">
            Почему наши клиенты нам доверяют<br/>и рекомендуют своим партнерам
        </h2>
        <ul class="whywe__list"><%#
          -%><li class="whywe__list__item whywe-time">
                <p class="whywe__list__item__text">
                    Соблюдаем сроки крупных заказов, а до 5 огнетушителей заряжаем за 30 минут
                </p>
            </li><%#
          -%><li class="whywe__list__item whywe-warranty">
                <p class="whywe__list__item__text">
                    В течение гарантийного срока все неисправности устраняем за свой счет
                </p>
            </li><%#
          -%><li class="whywe__list__item whywe-delivery">
                <p class="whywe__list__item__text">
                    При заказе от 30 огнетушителей забор/доставка бесплатно
                </p>
            </li><%#
            -%><li class="whywe__list__item whywe-4">
                <p class="whywe__list__item__text">
                    Работаем по выгодным ценам: перезарядка огнетушителя всего от 220 руб
                </p>
            </li><%#
      -%></ul>
    </div>
</section>
