<section class="withus clearfix">
    <div class="flexible-container">
        <h2 class="withus__title section__title">
            С нами вы можете быть уверены в том, что:
        </h2>
        <div class="withus__list--wrapper">
            <ul class="withus__list">
                <li class="withus__list__item">
                    Ваши <b>огнетушители</b> всегда <b>готовы к работе</b>
                </li>
                <li class="withus__list__item">
                    <b>Мы сами напомним</b> вам о необходимости проведения регламентных работ
                </li>
            </ul>
        </div>
    </div>
</section>
        