<%-
   include('../bower_components/r5m-cms/tpl/layout.ejs', {
      title: 'Комплексное обслуживание первичных средств пожаротушения в г. Новокузнецке',
      titleHtml: 'Комплексное обслуживание первичных средств пожаротушения в г.&nbsp;Новокузнецке',
      tagline: '<span><span>Перезарядка,</span></span><br/><span>техническое обслуживание и продажа огнетушителей</span>',
      motto: 'слоган',
      subtitle: locals.subtitle,
      parts: [locals.parts, '_metrika'],
      isMobile: true,
      fonts: {
        google: [
          'https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic',
          'images/font-awesome-4.7.0/css/font-awesome.min.css'
        ]
      },
      feedbackService: 'formspree',
      feedbackEmail: 'info@r5m.me',
      yandexId: null,
      info : {
        city: 'г. Новокузнецк',
        email: 'service@cpz-nk.ru',
        year: '2016',
        phones: [{
            text: '+7 (3843) 200-206',
            number: '+73843200206'
        }, {
            text: '+7 (960) 904-3107',
            number: '+79609043107'
        }],
        copyright: 'ООО Центр Противопожарной Защиты'
      },
      utmContent: {
        utm1: {

        }
      }
   });
%>
